// 主色
@main-col: #5079d9;
// 头部
@head-bgc: #1a1a1a;
// 字体颜色
@cc: #ccc;
@c6: #666;
@c9: #999;
@c3: #333;
@cf: #fff;



@accent-color: #066bc493;
@global-font-size:16px;
//a4的宽和高
@A4width: 21rem * 2.3;
@A4height: 29.7rem * 2.3;

//
@primaryColor: var(--primaryColor, #000);
@primaryTextColor: var(--primaryTextColor, green);
//左边样式

//右边样式


//导出变量 
:export {
    name: "less";
    primaryColor: @primaryColor;
    primaryTextColor: @primaryTextColor;
    gfontsize:@global-font-size;
    accentcolor:@accent-color;
}